/* Dit is het stylesheet voor de GitHub Classroom Opdracht */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.tabel1 {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

.tabel, th, td {
    border: 3px solid #ff0a0a;
}

th, td {
    padding: 10px;
    text-align: left;
}

< navigatie
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e60505;
}

li {
    padding: 8px;
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(208, 255, 0);
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
=======
/* Student B zal hier extra stijlen toevoegen voor de ongeordende lijst */

.tabel1 {
    background-color: aqua;
}

p {
    margin: 20px;
> main
}